<div class="container">
  <mat-form-field class="search-bar">
    <input matInput placeholder="Type anything to filter products title" #searchInput autocomplete="off">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  
  <ng-container  *ngIf="!activeProduct; else detail">
    <ng-container *ngIf="(searchResults$ | async) as products">
      <h1>We have found {{products.length}} results</h1>
      <table class="product-table mat-elevation-z7">
        <thead>
          <th>Title</th>
          <th class="table-item-description">Description</th>
          <th class="table-item-currency">Price</th>
        </thead>
        
        <tr class="product-row" *ngFor="let product of products"
        (click)="openProductDetail(product)">
        <td>{{product.title}}</td>
        <td class="table-item-description">{{product.description}}</td>
        <td class="table-item-currency">{{product.price}}</td>
      </tr>
    </table>
  </ng-container>
</ng-container>

<ng-template #detail>
  <button mat-raised-button class="back-btn" (click)="backToSearchState()">
    <mat-icon>arrow_back_ios</mat-icon>
    Back to Search
  </button>
  
  <app-product [product]="activeProduct"></app-product>
</ng-template>
</div>