.container {
  display: flex;
  flex-direction: column;
}

.search-bar,
.back-btn {
  margin-top: 20px;
}

h1 {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  color: #FFFFFF;
  background: #3f51b5;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.product-table {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  .table-item-currency {
    text-align: right;
  }

  .product-row {
    cursor: pointer;
  }
}

@media (max-width: 460px) {
  .table-item-description {
    display: none;
  }
}