<h1>{{title}}</h1>

<table>
  <thead>
    <th>Product Name</th>
    <th class="table-item-description">Description</th>
    <th class="table-item-currency">Discount</th>
    <th class="table-item-currency">Price</th>
    <th class="table-item-btn">Actions</th>
  </thead>

  <tbody>
    <tr *ngFor="let product of products; trackBy: identify">
      <td>{{product.title}}</td>
      <td class="table-item-description">{{product.description}}</td>
      <td class="table-item-currency">${{product.discountPercentage}}</td>
      <td class="table-item-currency">${{product.price}}</td>
      <td class="table-item-btn">
        <div class="action-btn">
          <button mat-icon-button *ngIf="editable" (click)="editProduct(product)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button [routerLink]="['/product', product.id]">
            <mat-icon>info</mat-icon>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
