<header>
  <h1>{{title}}</h1>

  <nav>
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li>
        <a routerLink="/search" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Products</a>
      </li>
    </ul>
  </nav>

  <div class="header-btn">
    <button mat-flat-button *ngIf="(authenticationService.user$ | async) as user">      
      <mat-icon>account_circle</mat-icon>
      {{user.login}}
    </button>
    <button mat-icon-button *ngIf="authenticationService.isLoggedOut$ | async" routerLink="/login">
      <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button *ngIf="authenticationService.isLoggedIn$ | async" (click)="authenticationService.logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<app-loading></app-loading>