header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  height: var(--toolbar-height);
  box-sizing: border-box;

  h1 {
    font-weight: 500;
  }
  
  ul {
    display: flex;
    gap: 1rem;
  }
  
  li {
    font-weight: 500;
  }
  
  li:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  .header-btn {
    display: flex;
    align-items: center;
  }
}

main {
  top: var(--toolbar-height);
  width: 100%;
  position: absolute;
  padding: 1rem;
  box-sizing: border-box;
}

.active-link { font-weight: 600; }