<mat-sidenav-container fullscreen>

  <mat-sidenav #sidemenu (click)="sidemenu.close()">
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemLine>Home</span>
      </a>
      <a mat-list-item routerLink="/search">
        <mat-icon matListItemIcon>search</mat-icon>
        <span matListItemLine>Search products</span>
      </a>
      <a *ngIf="authenticationService.isLoggedOut$ | async" mat-list-item routerLink="/login">
        <mat-icon matListItemIcon>account_circle</mat-icon>
        <span matListItemLine>Login</span>
      </a>
      <a *ngIf="authenticationService.isLoggedIn$ | async" mat-list-item routerLink="/" (click)="authenticationService.logout()">
        <mat-icon matListItemIcon>exit_to_app</mat-icon>
        <span matListItemLine>Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidemenu.open('mouse')">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
    <span class="spacer"></span>
    <button mat-flat-button *ngIf="(authenticationService.user$ | async) as user">      
      <mat-icon>account_circle</mat-icon>
      {{user.login}}
    </button>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <app-loading></app-loading>

</mat-sidenav-container>